sidusai @ git+https://github.com/sidus-ai/sidus-ai-core.git@b9e2c9355a0dd244013ed00a68dc5fdace07d220
pyTelegramBotAPI==4.26.0  # provides the telebot module
requests==2.32.3
python-dotenv==1.0.1
telethon==1.36.0
